<router-outlet></router-outlet>

<div *ngIf="bookList">
  <div class="row">
    <div class="col-2">
      <h1 class="bookStyle">Books</h1>
    </div>
    <div class="col-8">

    </div>
    <div class="col-2">
      <button mat-raised-button color="primary" (click)="onCreateNewBook()"><a routerLink= "createBook" class="createNew">Create New Book</a></button>
    </div>
  </div>
  <div class="search-book">
      <mat-form-field class="matInput">
        <mat-label style="margin-left: 10px;" *ngIf= "!focused">Search</mat-label>
        <span matPrefix><fa-icon [icon]="faSearch" *ngIf= "!focused" ></fa-icon></span>
          <input matInput class="matinput" size="50" (focus)="onClicked()" (blur)="onBlur()">
      </mat-form-field>
  </div>


      <h3 class="allBooks">
        All Books
      </h3>



  <div class="books-container">
    <div *ngFor="let book of books?.items">
      <mat-card class="book-content">
        <mat-card-title>{{book.volumeInfo.title}}</mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col-4">Authors :</div>
            <div class="col-8">
              <div *ngFor= "let author of book.volumeInfo.authors">
                {{author}}
              </div>
            </div>
          </div>
          <div class="row" *ngIf="book.volumeInfo.publisher">
            <div class="col-4">Publisher :</div>
            <div class="col-8">
                {{book.volumeInfo.publisher}}
            </div>
          </div>
          <div class="row">
            <div class="col-4">Published Date :</div>
            <div class="col-8">
              {{book.volumeInfo.publishedDate}}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>




