.landing-page-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.side-nav-container {
  width: 240px;
  background-color: grey;
}

.mat-icon {
  padding: 10px;
}
.mat-icon:hover {
  cursor: pointer;
}

.isClosed {
  width: 80px;
}

.books-container {
  min-height: 100%;
  width: 100%;
}
