.formContainer {
  display: flex;
  justify-content: center;
  /* border: 4px solid rgba(128, 128, 128, 0.5); */
  margin: 20px;
}

.bookForm {
  min-width: 500px;
}

.buttons {
  display: flex;
  justify-content:space-evenly;
}
